<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Sample</title>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="dns-prefetch" href="//fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/my.css}">
</head>
<body>
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h1>Hello, World!</h1>
      </div>
      <div class="card-body">
        <div>
          この下にコントローラから受け取った値がバインドされて表示される
        </div>
        <div th:text="${test}"></div>
      </div>
      <div class="card-header">フォームのテスト</div>
      <div class="card-body">
        <div>
          お次はフォームで試してみる
        </div>
        <form th:action="@{/html}" method="post">
          <div class="row">
            <div class="col-md-3">
              テスト1
            </div>
            <div class="col-md-9">
              <input type="text" name="test1" class="form-control" th:value="${test1}">
            </div>
            <div class="col-md-3">
              テスト2
            </div>
            <div class="col-md-9">
              <label class="form-check-inline">
                <input type="radio" name="test2" value="1" class="form-check-input">
                こっちは1
              </label>
              <label class="form-check-inline">
                <input type="radio" name="test2" value="2" class="form-check-input">
                こっちは2
              </label>
            </div>
            <div class="col-md-3">
              ラジオボタンで選んだのは
            </div>
            <div class="col-md-9" th:text="${test2_text}">

            </div>
          </div>
          <div class="row">
            <div class="col-md-6 text-left">
              <button type="submit" class="btn btn-primary" name="submit1">
                そのままテンプレートを表示する方
              </button>
            </div>
            <div class="col-md-6 text-right">
              <button type="submit" class="btn btn-primary" name="submit2">
                リダイレクトで再表示させる方
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="card-body">
        Postした時にF5で画面更新するとPostをまたやる。
        <br>なので、「テスト表示」に戻らない
        <br><a th:href="@{/html}">ここをクリック</a>すると、GetでHTTP通信しなおすので戻る
      </div>
    </div>
  </div>
</body>
</html>
